<div class="">
  <h2>Costs Calculation</h2>
  <h3>Enter number of participants</h3>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="amount">the amount</div>
      <% 5.times do |i| %>
        <button type="button" uncheckable class="btn  btn-xl" id="" >
        </button>
      <% end %>
    </div>
  </div>


  <p>* Contact us to know more about our special discounts</p>
</div>
<div class="">
  <h2>Host next TOC</h2>
  <h3>Talk to us</h3>
</div>

<script type="text/javascript">

</script>
