<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <h2>Costs Calculation</h2>
    </div>
      <div class="card-block">
        <label for="amount">Enter number of participants</label>
        <div id="cost">2500 EUR</div>
        <div id="slider-range-max"></div>

        <div class="part-count">
          <div class="0p">0</div>
          <div class="20p">20</div>
          <div class="40p">40</div>
          <div class="60p">60</div>
          <div class="80p">80</div>
        </div>
        <input type="text" id="amount" readonly style="border:0; width: 40px"> participants</p>
      </div>
  </div>
  <div class="card-footer text-muted">
    <div>
      <p>* Contact us to know more about our special discounts</p>
    </div>
    <div>
      <h2>Host next TOC</h2>
      <h3>Talk to us</h3>
    </div>
  </div>
</div>
