<footer id="footer">
    <div class="row upper-footer-content">
        <div class="section">
            <ul>
                <li>
                    <a href="/faqs">FAQ</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/jobs">Jobs</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="section vcard">
            <p class="adr">
                <strong class="fn">Codaisseur BV</strong><br>
                <span class="email">
                    <a href="mailto:info@codaisseur.com">info@codaisseur.com</a>
                </span><br>
                <span class="phone-number">
                    +31202615197</span><br>
                <span class="street-address">Singel 542</span><br>
                <span class="postal-code">1017 AZ</span>
                <span class="locality">
                    Amsterdam</span><br>
                <span class="country">The Netherlands</span>
            </p>
        </div>
        <div class="section company-details hide-on-med-and-down">
            <p>
                <span>KvK: 63359359</span><br>
                <span>VAT ID: NL855202907B01</span><br>
                <span>Bank: NL59BUNQ2025584334</span>
            </p>
        </div>
        <div class="section follow-us">
            <p>
                <strong>Follow us</strong>
            </p>
            <ul>
                <li class="facebook">
                    <a target="_blank" href="https://www.facebook.com/codaisseur">Facebook</a>
                </li>
                <li class="twitter">
                    <a target="_blank" href="https://twitter.com/codaisseur">Twitter</a>
                </li>
                <li class="linkedin">
                    <a target="_blank" href="https://www.linkedin.com/company/development-bootcamp">LinkedIn</a>
                </li>
                <li class="github">
                    <a target="_blank" href="https://github.com/codaisseur">Github</a>
                </li>
                <div class="row"><br>
                    <span>Subscribe to our newsletter:</span>
                    <form action="/subscribers/new" type="GET"><input name="email" placeholder="enter your email here" type="text"></form>
                </div>
            </ul>
        </div>
    </div>
    <div class="row lower-footer-content">
        <div class="section support-from">
            <div class="span support-logo">
                <a target="_blank" href="https://www.crkbo.nl/"><img src="/assets/footer/CRKBO-logo-white-9ebe1c4e68292a11f1afed94baa747c72daed6bd3df57c1f5528e23f3682911a.png" alt="Crkbo logo white 9ebe1c4e68292a11f1afed94baa747c72daed6bd3df57c1f5528e23f3682911a"></a>
            </div>
        </div>
        <div class="bottom">
            <a target="_blank" href="https://www.developmentbootcamp.com/terms-and-conditions">Terms and Conditions</a>
            •
            <a href="http://www.codaisseur.com">© 2017 Codaisseur</a>
            • Made with ♥ in ✖✖✖ •
            <a href="/sitemap.xml">Sitemap</a>
        </div>
    </div>
</footer>
