<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <h3>Get Ready for the Day</h3>
    <h5>Requirements</h5>
    <hr>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porttitor sit amet metus volutpat bibendum. Nunc tellus tortor, bibendum nec lacus et, tristique imperdiet felis. Pellentesque lobortis mi metus. Ut pretium ipsum purus, ut pulvinar.
      Pellentesque lobortis mi metus. Ut pretium ipsum purus, ut pulvinar.
    </p>
  </div>
</div>
