<div class="jumbotron">
  <h3 class="text-center">Get Ready for the Day</h3>
  <p class="text-center">Know your tools</p>

  <div class="row text-center">
    <div class="col-lg-4">
      <img class="img-circle" src="https://www.pubnub.com/wp-content/uploads/2015/01/B62xj9FCUAA3YoC.png" alt="Atom logo" width="140" height="140">
      <h2>Atom</h2>
      <p>Text Editor</p>
      <p>
        <a class="btn btn-default" href="https://atom.io/" role="button" target="_blank">Download</a>
      </p>
    </div>

    <div class="col-lg-4">
      <img class="img-circle" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Google_Chrome_icon_%282011%29.svg/2000px-Google_Chrome_icon_%282011%29.svg.png" alt="Chrome logo" width="140" height="140">
      <h2>Chrome</h2>
      <p>Browser</p>
      <p>
        <a class="btn btn-default" href="https://www.google.com/chrome/" role="button" target="_blank">Download</a>
      </p>
    </div>

    <div class="col-lg-4">
      <img class="img-circle" src="https://cdn.worldvectorlogo.com/logos/slack-1.svg" alt="Slack logo" width="140" height="140">
      <h2>Slack</h2>
      <p>Group Communications</p>
      <p>
        <a class="btn btn-default" href="https://slack.com/downloads/" role="button" target="_blank">Download</a>
      </p>
    </div>
  </div>
</div>
