<div class="section">
  <div class="col-md-4 col-md-offset-4">
    <div class="form-area">
      <form role="form">
        <br style="clear:both">
        <h2 style="margin-bottom: 25px; text-align: center;">Host next TOC</h2>
        <h3 style="margin-bottom: 25px; text-align: center;">Talk to us</h3>
        <div class="form-group">
          <input type="text" class="form-control" id="name" name="name" placeholder="First Name" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="name" name="name" placeholder="Last Name" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="name" name="name" placeholder="Company Name" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
        </div>
        <div class="form-group">
          <div class="input-group registration-date-time">
            <span class="input-group-addon" id="basic-addon1">
              <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </span>
            <input class="form-control" id="registration-date" type="date" name="appointdate" required>
          </div>
        </div>
        <div class="form-group">
          <div class="form-group">
            <select class="selectpicker form-control" placeholder="Number of participants" required>
              <option>10 - 50</option>
              <option>50 - 100</option>
              <option>100 - 250</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <textarea class="form-control" type="textarea" id="message" placeholder="Comments" maxlength="200" rows="9"></textarea>
          <span class="help-block">
            <p id="characterLeft" class="help-block ">You have reached the limit</p>
          </span>
        </div>
        <div class="actions text-center">
          <button type="button" id="submit" name="submit" class="btn btn-primary">Submit Form</button>
        </div>
      </form>
    </div>
  </div>
</div>
