<nav>
  <div class="Link btns">
    <ul>
      <li><%= link_to "Join TOC", attend_path %></li>
      <li><%= link_to "InCompany", in_company_path %></li>
      <li><%= link_to "Host TOC", sponsor_path %></li>
    </ul>
  </div>
</nav>
