<nav>
  <div class="Link btns">
    <ul>
      <li><%= link_to "Join TOC", attend_home_path %></li>
      <li><%= link_to "InCompany", book_in_company_home_path %></li>
      <li><%= link_to "Host TOC", sponsor_home_path %></li>
    </ul>
  </div>
  <div class="title">
    <h1>Taste of code</h1>
    <h3>Beginner Coding Workshop</h3>
  </div>
</nav>
