<section class="jumbotron">
  <div class="text-center">
    <h3>
      Proudly sponsored by
    </h3>
  </div>

  <div class="row">
    <% @sponsors.each do |sponsor| %>
    <div class="col-md-4 text-center">
      <div class="card-block">
        <%= image_tag sponsor.logo, class: "sponsor-image" %>
      </div>
    </div>
    <% end %>
  </div>
</section>
