<div class="jumbotron">
  <div class="container">
    <h1>Proudly supported by</h1>

    <table class="table">

      <td>
        <div class="card-block">
          <img src="https://www.codaisseur.com/assets/rocket-0e991969b204c33b21331483b1f7d49499fd3ddb507ae46d6d22a658a7a3b852.png" height=50/>
          <p class="card-text">
            <p>Sponsorname</p>
          </div>
        </td>
        <td>
          <div class="card-block">
            <img src="https://www.codaisseur.com/assets/rocket-0e991969b204c33b21331483b1f7d49499fd3ddb507ae46d6d22a658a7a3b852.png" height=50/>
            <p class="card-text">
              <p>Sponsorname</p>
            </div>
          </td>
          <td>
            <div class="card-block">
              <img src="https://www.codaisseur.com/assets/rocket-0e991969b204c33b21331483b1f7d49499fd3ddb507ae46d6d22a658a7a3b852.png" height=50/>
              <p class="card-text">
                <p>Sponsorname</p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="card-block">
                <img src="https://www.codaisseur.com/assets/rocket-0e991969b204c33b21331483b1f7d49499fd3ddb507ae46d6d22a658a7a3b852.png" height=50/>
                <p class="card-text">
                  <p>Sponsorname</p>
                </div>
              </td>
              <td>
                <div class="card-block">
                  <img src="https://www.codaisseur.com/assets/rocket-0e991969b204c33b21331483b1f7d49499fd3ddb507ae46d6d22a658a7a3b852.png" height=50/>
                  <p class="card-text">
                    <p>Sponsorname</p>
                  </div>
                </td>
                <td>
                  <div class="card-block">
                    <img src="https://www.codaisseur.com/assets/rocket-0e991969b204c33b21331483b1f7d49499fd3ddb507ae46d6d22a658a7a3b852.png" height=50/>
                    <p class="card-text">
                      <p>Sponsorname</p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-lg-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
              <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
            </p>
          </div>
          <!--/.col-xs-6.col-lg-4-->
          <div class="col-xs-6 col-lg-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
              <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
            </p>
          </div>
          <!--/.col-xs-6.col-lg-4-->
          <div class="col-xs-6 col-lg-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
              <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
            </p>
          </div>
          <!--/.col-xs-6.col-lg-4-->
          <div class="col-xs-6 col-lg-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
              <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
            </p>
          </div>
          <!--/.col-xs-6.col-lg-4-->
          <div class="col-xs-6 col-lg-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
              <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
            </p>
          </div>
          <!--/.col-xs-6.col-lg-4-->
          <div class="col-xs-6 col-lg-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p>
              <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
            </p>
          </div>
          <!--/.col-xs-6.col-lg-4-->
        </div>
        <!--/row-->
      </div>
      <!--/.col-xs-12.col-sm-9-->
