<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="row">

      <div class="card-block">
        <img src="https://www.codaisseur.com/assets/rocket-0e991969b204c33b21331483b1f7d49499fd3ddb507ae46d6d22a658a7a3b852.png" height=50/>
        <p class="card-text">
          <p>Sponsorname</p>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <div class="col-md-2">
            <div class="card-block">
              <img src="https://www.codaisseur.com/assets/rocket-0e991969b204c33b21331483b1f7d49499fd3ddb507ae46d6d22a658a7a3b852.png" height=50/>
              <p class="card-text">
                <p>Sponsorname</p>
              </div>
              <div class="col-*-*"></div>
              <div class="row">
                <div class="col-md-4">
                  <div class="card-block">
                    <img src="https://www.codaisseur.com/assets/rocket-0e991969b204c33b21331483b1f7d49499fd3ddb507ae46d6d22a658a7a3b852.png" height=50/>
                    <p class="card-text">
                      <p>Sponsorname</p>
                    </div>
                    <div class="col-*-*"></div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="card-block">
                          <img src="https://www.codaisseur.com/assets/rocket-0e991969b204c33b21331483b1f7d49499fd3ddb507ae46d6d22a658a7a3b852.png" height=50/>
                          <p class="card-text">
                            <p>Sponsorname</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-*-*"></div>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="card-block">
                                <img src="https://www.codaisseur.com/assets/rocket-0e991969b204c33b21331483b1f7d49499fd3ddb507ae46d6d22a658a7a3b852.png" height=50/>
                                <p class="card-text">
                                  <p>Sponsorname</p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-*-*"></div>
                                <div class="row">
                                  <div class="col-md-4">
                                    <div class="card-block">
                                      <img src="https://www.codaisseur.com/assets/rocket-0e991969b204c33b21331483b1f7d49499fd3ddb507ae46d6d22a658a7a3b852.png" height=50/>
                                      <p class="card-text">
                                        <p>Sponsorname</p>
                                      </div>
                                    </div>
                                    <div class="row"></div>
                                  </div>
