<section class="homepage-banner">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="text-center">
    <div class="attend-highlighter">
      <h1>TASTE OF CODE</h1>
      <h3>BEGINNER CODING WORKSHOP</h3>
    </div>
  </div>
</section>
