<div class="jumbotron">
  <h3 class="text-center">What You Will Learn</h3>
  <p class="text-center">Professional developers technologies</p>

  <div class="row text-center">
    <div class="col-lg-4">
      <img class="img-circle" src="https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png" alt="HTML logo" width="140" height="140">
      <h2>HTML</h2>
      <p>...</p>
      <p>
        <a class="btn btn-default" href="" role="button" target="_blank">Read more</a>
      </p>
    </div>

    <div class="col-lg-4">
      <img class="img-circle" src="http://w3widgets.com/responsive-slider/img/css3.png" alt="CSS logo" width="140" height="140">
      <h2>CSS</h2>
      <p>...</p>
      <p>
        <a class="btn btn-default" href="" role="button" target="_blank">Read more</a>
      </p>
    </div>

    <div class="col-lg-4">
      <img class="img-circle" src="http://logo-load.com/uploads/posts/2016-09/javascript-logo.png" alt="JSS logo" width="140" height="140">
      <h2>JS</h2>
      <p>...</p>
      <p>
        <a class="btn btn-default" href="" role="button" target="_blank">Read more</a>
      </p>
    </div>
  </div>
</div>
