<div class="jumbotron">
  <h3 class="text-center">What You Will Learn</h3>
  <p class="text-center">Professional developers technologies</p>

  <div class="row text-center">
    <div class="col-lg-4">
      <img class="img-circle" src="" alt="HTML logo" width="140" height="140">
      <h2>HTML</h2>
      <p></p>
      <p><a class="btn btn-default" href="" role="button" target="_blank">Read more</a></p>
    </div>

    <div class="col-lg-4">
      <img class="img-circle" src="" alt="CSS logo" width="140" height="140">
      <h2>CSS</h2>
      <p></p>
      <p><a class="btn btn-default" href="" role="button" target="_blank">Read more</a></p>
    </div>

    <div class="col-lg-4">
      <img class="img-circle" src="" alt="JSS logo" width="140" height="140">
      <h2>JS</h2>
      <p></p>
      <p><a class="btn btn-default" href="" role="button" target="_blank">Read more</a></p>
    </div>
  </div>
</div>
