<div class:"image_logo">
<img width="200" height="200" src= "https://pbs.twimg.com/profile_images/679634619998842880/L9Y-i7rM.jpg">
</div>
<br>
<h2>Taste of code</h2>
<h3>Beginner Coding Workshop</h3>
<br>
<%= link_to "Join TCO", attend_home_path, class: "btn btn-default" %>
<%= link_to "InCompany", book_in_company_home_path,  class: "btn btn-default"  %>
<%= link_to "Host TOC", sponsor_home_path,  class: "btn btn-default"  %>
