<section class="homepage-banner">
  <div class="text-center">
    <div class="image_logo">
      <img class="img-circle" width="200" height="200" src="https://www.codaisseur.com/assets/codaisseur-logo-9a3b4e4a4929449d09c6504c4d67d2dfc4abbed8d8f4333c8cf441dc63d49a11.svg">
    </div>
    <br>
    <div class="homepage-highlighter">
      <h3>Beginner Coding Workshop</h3>
      <h1>Taste of code</h1>

      <br>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= link_to "Join TCO", attend_path, class: "btn btn-primary" %>
          <%= link_to "InCompany", in_company_path,  class: "btn btn-primary"  %>
          <%= link_to "Host TOC", sponsor_path,  class: "btn btn-primary"  %>
        </div>
      </div>
    </div>
  </div>
</section>
