<div class="row">
  <div class="pull-left">
    <div class="image_logo" style="padding:10px">
      <img class="img-circle" width="100" height="100" src="https://www.codaisseur.com/assets/codaisseur-logo-9a3b4e4a4929449d09c6504c4d67d2dfc4abbed8d8f4333c8cf441dc63d49a11.svg">
    </div>
  </div>
  <br>
  <br>
  <div class="col-md-4 col-md-offset-4">
    <%= link_to "Join TOC", attend_path, class: "btn btn-primary" %>
    <%= link_to "InCompany", in_company_path,  class: "btn btn-primary"  %>
    <%= link_to "Host TOC", sponsor_path,  class: "btn btn-primary"  %>
  </div>
</div>
<br>
<br>
