<h1>Admin Sponsor Requests Section</h1>
<% @sponsorrequests.each do |sponsorrequest| %>

<h4><%= sponsorrequest.company_name %></h4>

<%= link_to "View Request", admin_sponsorrequest_path(sponsorrequest.id), class: "btn btn-default" %>
<%= link_to "Edit Request", edit_admin_sponsorrequest_path(sponsorrequest.id), class: "btn btn-default" %>
<%= link_to "Delete Request", admin_sponsorrequest_path(sponsorrequest.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
<% end %>
<hr>
