@import "bootstrap-sprockets";
@import "bootstrap";

.homepage-banner {
    background-image: url('http://tasteofcode.nl/images/codaisseur-toc-19.jpg');
    background-repeat: no-repeat;
    height: 100em;
  }

.homepage-highlighter {
  background-color: rgba(85,170,164, 0.8);
  color: whitesmoke;
  margin-left: 30em;
  margin-right: 30em;
  padding-top: 3em;
  padding-bottom: 3em;

}
