.cost-btn, .selected-cost-btn{
  width: 25px;
  height: 25px;
  margin-right: 50px;
  border-radius: 50%;
  border: 0px;
}

.cost-btn {
    background-color: rgb(176, 176, 176);
}

.selected-cost-btn {
    background-color: rgb(116, 116, 116);
}
.cost-line {
    display: flex;
}

.cost-slider {
  width: 600px;
}

.part-count {
  display: flex;
  justify-content: space-between;
}

// .row-fluid {
//   display: flex;
//   justify-content: center;
// }

// .circle-div, .line {
//   background-color: rgb(147, 147, 147);
//   vertical-align: middle;
//   display: flex;
// }
//
// .circle-div {
//   border-radius: 100%;
//   width: 20px;
//   height: 20px;
//   right: 20px;
//   position: relative;
//
// }
//
// .line {
//   height: 3px;
//   width: 500px;
//   position: absolute;
// }
