// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image_logo {
    width: 20px;

}

img {
  display: block;
  width: 100%;
  height: auto;
}

h2 {
  font-size: 56px;
  text-align: center;
  color: yellow;
}

h3 {
  text-align: center;
}
